/* @font-face{
    font-family: 'Open-Sans-Bold';
    src: url(fonts/OpenSans-Bold.ttf);
    
} */

html, body {
  width: 100%;
  overflow-x: hidden;
}

img {
  /* width: 100%; */
}

.arrow-img {
  width: 50px;
}

#nav {
  padding-top: 10px;
}

a {
  color: #42474c;
  text-decoration: none;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.advert {
  /* padding-top: 130px; */
  margin-top: auto;
  font-size: 55px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #004c3f;
}

.shop-btn {
  padding-top: 20px;
  padding-bottom: 20px;
}

.green-section {
  padding: 20px;
  text-align: center;
}

.noun_title {
  margin-top: 20px;
  font-size: 18px;
  color: #ffffff;
  opacity: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.noun_content {
  margin-top: 20px;
  font-size: 15px;
  color: #ffffff;
  opacity: 1;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  max-width: 429px;
}

.button_free {
  background-color: #008060;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.button_free2 {
  background-color: #ffffff;
  color: #008060;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  width: 268px;
}

.button_div {
  text-align: center;
  margin-top: 50px;
}

.checkout_header {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #212326;
  /* margin-bottom: 60px; */
}

.customer_store_title {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #212326;
}

.customer_store_content {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #212326;
  text-decoration: underline;
}

.card_title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #212326;
}

.card_text1 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #212326b3;
}

.card_learn_more {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #008060;
}

.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 16px;
  color: #42474c;
}

.companyInfo_title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #2a2e43;
}

.companyInfo_content {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #212326;
}

.social_media ul {
  list-style: none;
}

.start_selling {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  /* margin-top: 65px; */
}

.start_selling_desc {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-size: 400;
  text-align: center;
  margin-top: 20px;
}

.testimony-container {
  display: flex;
  width: 95%;
  margin: auto;
}

#element {
  background-image: url(assets/images/Disha-Website-New.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 400px;
}

.image-container {
  margin-right: 20px;
}

.testimony-text-container {
  width: 40%;
  padding: 7px;
}

.learn_more_row {
  margin-top: 90px;
  ;
}

.testimony-content {
  padding: 5px;
  font: bold Italic 18px/28px Open Sans;
  text-align: justify;
  color: #212326;
}

#right img {
  width: 100%;
}

#sellonlineSection {
  background-image: url("../images/selling-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.user-profile {
  padding: 5px;
  font: Bold 14px/19px Open Sans;
  text-align: left;
  color: #212326;
}

.carousel-control-prev {
  left: -6% !important;
}

.carousel-control-next img {
  width: 30%;
}

.carousel-control-prev img {
  width: 30%;
}

.carousel-control-next {
  right: -6% !important;
}

.carousel-item {
  width: auto;
}

.carousel-img {
  height: 170px;
  width: 170px;
}

.user-website {
  padding: 5px;
  color: #008060;
  font: Bold 14px/19px Open Sans;
  text-align: left;
}

#companyInfoSection {
  padding-top: 50px;
  padding-bottom: 50px;
}

.user-store {
  padding: 5px;
  color: #212326;
  font: bold 14px/19px Open Sans;
  text-align: left;
}

.sell-online {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff !important;
  background-color: #008060;
}

.container {
  /* width: 1500px; */
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .copyright {
    font-size: 12px;
  }
  .carousel-control-next img {
    width: 100%;
  }
  .carousel-control-prev img {
    width: 100%;
  }
  .nav-link.active {
    width: 12%;
    padding: 11px;
  }
  .advert {
    font-size: 30px;
  }
  .testimony-container {
    width: 100%;
    display: block;
  }
  .img-container {
    width: 50%;
    text-align: center;
  }
  .testimony-content {
    font: bold Italic 15px/28px Open Sans;
    margin-left: 20px;
    margin-right: 20px;
  }
  .user-profile {
    margin-left: 20px;
    margin-right: 20px;
  }
  .user-website {
    margin-left: 20px;
    margin-right: 20px;
  }
  .user-store {
    margin-left: 20px;
    margin-right: 20px;
  }
  .testimony-text-container {
    width: 50%;
    padding: 19px;
  }
  .carousel-control-prev {
    left: -4px !important;
  }
  .carousel-control-next {
    right: -4px !important;
  }
  .start_selling {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
  .testimony-content {
    font: bold Italic 15px/28px Open Sans;
    margin-left: 20px;
    margin-right: 20px;
  }
  .user-profile {
    margin-left: 20px;
    margin-right: 20px;
  }
  .user-website {
    margin-left: 20px;
    margin-right: 20px;
  }
  .user-store {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.bg-light {
  background-color: #ffffff !important;
}

.nav-item {
  padding-top: 21px;
}

.logo {
  padding-top: 0px;
}